{% if
    app.request.attributes.get('_route') == 'app_login' or
    app.request.attributes.get('_route') == 'app_register'
%}

{% else %}

    <!-- Start Go Top Section -->
    <div class="go-top">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-up"></i>
    </div>
    <!-- End Go Top Section -->

{% endif %}