{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">Bistrot de l'Hôtel de Ville.</h1>
        <p class="lead">Bienvenue {{ ea.userMenu.name }} dans l'interface d'administration de l'établissement.</p>
        <p class="lead">Retourner sur le site cliquez <a href="{{ path('app_home_user') }}">ICI</a></p>
    </div>

{% endblock %}