{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

    {% include 'partials/_startpage.html.twig' %}

    <!-- About Section Start -->
    <section id="about" class="about-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-12 col-sm-12">
                    <div class="about-content">
                        <div class="terms-content-text">
                            <div class="sppb-addon-content">
                                <p><strong>Raison sociale</strong>&nbsp;:<br>BAR CONCEPT</p>
                                <p><strong>Forme Juridique</strong>&nbsp;:<br>Société par actions simplifiées</p>
                                <p><strong>SIRET</strong>&nbsp;:<br>75153444700030</p>
                                <p><strong>APE</strong>&nbsp;:<br>5610A</p>
                                <p><strong>Adresse</strong>&nbsp;:<br>4, Rue des Casernes, 70000 Vesoul</p>
                                <p><strong>Email</strong>&nbsp;:<br>contact@lemarais70.fr</p>
                                <p><strong>Téléphone</strong>&nbsp;:<br>03 84 96 99 32</p>
                                <p><strong>Responsable de publication</strong>&nbsp;: Stéphane OTTERMATT</p>
                                <p><strong>Réalisation technique et graphique</strong>&nbsp;:
                                    <br>
                                    11, BD Charles de Gaulle, 70000 VESOUL - romaric.rapine25@gmail.com
                                </p>
                                <p>
                                    <strong>Hébergeur du site</strong>
                                    &nbsp;:
                                    <br>
                                    Ionos - 7, place de la gare, BP 70109 57201 Sarreguines Cedex
                                </p>
                                <h3>Données personnelles</h3>
                                <p>
                                    Conformément à la directive européenne 2009/136/CE, nous vous informons sur les
                                    données
                                    personnelles collectées par ce site. Vous disposez des droits d'accès, de
                                    modification
                                    et de suppression des données personnelles vous concernant sur simple demande en
                                    contactant :
                                </p>
                                <p>
                                    Stéphane OTTERMATT
                                    <br>
                                    Par email : contact@lemarais70.fr
                                    <br>
                                    Par téléphone : 03 84 75 84 27
                                    <br>
                                    Par courrier : BHV Bistrot, 4 Rue des Casernes, 70000 Vesoul
                                </p>
                                <h3>Cookies</h3>
                                <p>
                                    Lorsque vous naviguez sur internet, des traceurs sont susceptibles d'être
                                    enregistrés
                                    sur votre navigateur web ou sur votre ordinateur (tablettes et mobiles également).
                                    Ils permettent de transmettre des informations aux propriétaires des sites
                                    visités.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- About Section End -->

{% endblock %}



